.header {

    background-color: rgb(196, 197, 197);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header__logo {
    margin-top: 2px;
    font-size: 22px;

    text-decoration: none;
    color: rgb(16, 16, 17);
    margin-left: -70%;
    height: 50%;
}


.header__logo:hover {
    color: rgb(250, 247, 253);
}


.header__nav {

    font-size: larger;
    padding: 15px;


    margin-top: -90px;
    width: 40%;
    background-color: rgb(196, 197, 197);
    z-index: 5;
    transition: 0.80s;
    border-left: 1px gray solid;
}

.Checkboxi {
    display: none
}


.Checkboxi:checked~.header__nav {

    margin-left: -100px;
    margin-top: -2%;
    text-decoration: none;
    width: 300px;
    background-color: rgb(49, 109, 236);
    position: fixed;
    border-radius: 25px;



}


.menu_icon {

    color: antiquewhite;

}


.menu_icon:hover {

    top: 19px;
}

a:hover {
    color: rgb(19, 20, 20);
    text-decoration: none;
    text-indent: 5px;
    margin: 10px;
}



.home_container-card {
    padding-bottom: 15%;
}


/*** FormLogin**/


.login__form {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    border: solid rgb(226, 225, 225) 1px;
    width: 250px;
    height: 250px;
    margin-left: 40%;
    margin-top: 10%;
    padding: 15px;
    box-shadow: 1px 1px 5px 2px rgb(41, 41, 41);
}

.login__input {
    width: 60%;
    margin-left: 7px;
}

.login__inputEm {
    width: 60%;
    margin-left: 35px;
}


.login_succes {

    margin-top: 10%;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    height: 300px;
    border: 1px rgb(169, 179, 169) solid;
    border-radius: 25px;
    justify-content: center;
    align-items: center;

}

.login_account-yet {

    font-size: 10px;
}



/***/
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-white);
    opacity: 0.8;
    background-image: radial-gradient(rgb(99, 38, 255) 0.5px,
            rgb(249, 248, 248) 0.5px);
    background-size: 10px 10px;
}

.sign-up__card {
    display: flex;
    flex-direction: column;
    background: var(--bg-white);
    width: 25em;
    height: auto;
    border-radius: 0.3em;
    border: solid 1px grey;
    box-shadow: var(--shadow-elevation-login);
}

.sign-up__tittle {
    font-size: 1.5em;
    margin-left: 1em;
    color: rgb(49, 109, 236);
}

.sign-up__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 2em;
}

.sign-up__form-btn {
    border: none;
    margin: 1em 0;
    height: 2.2em;
    border-radius: 0.2em;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: var(--cl-text-white);
    background: var(--cl-btn);
}

.sign-up__form-btn:hover {
    background: var(--cl-btn__hover);
}

.sign-up__login {
    font-size: 0.9em;
    color: var(--cl-text-grey);
    margin-left: 2em;
    margin-bottom: 1em;
}

.form__errors {
    font-size: 0.9em;
    font-weight: 500;
    color: rgb(138, 127, 239);
    margin: 0;
}



* {

    box-sizing: border-box;

}


body {
    margin: 0;
}


html {
    margin: 0;
}


.active-link {
    background-color: rgb(0, 132, 255);
    color: white;
    font-size: large;
}


.App {
    width: 100vw;
    height: 100vh;


}


a {
    color: aliceblue;
    text-decoration: none;
    text-indent: 5px;
    margin: 10px;
}


.header {

    background-color: rgb(197, 197, 196);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    height: 9%;
    width: 100vw;
    z-index: 4;


}


.header__logo {
    margin-top: 0px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    color: rgb(16, 16, 17);
    height: 50%;
}


.header__logo:hover {
    color: rgb(250, 247, 253);
}


.header__nav {

    text-align: 5%;
    margin-top: -200px;
    width: 50%;
    background-color: rgb(49, 109, 236);
    z-index: 5;
    transition: 0.80s;
}



.Checkboxi {
    display: none
}


.Checkboxi:checked~.header__nav {

    margin-left: 2.5%;
    margin-top: -2%;
    text-decoration: none;
    width: 300px;
    background-color: rgb(49, 109, 236);
    position: fixed;
    border-radius: 25px;
    text-align: end;


}


.menu_icon {
    color: rgb(49, 109, 236);
    height: 35px;
    width: 9%;
    position: fixed;
    right: 5px;
    top: 3%;
    font-size: 29px;
    text-align: center;
    border-radius: 5px;
}


.menu_icon:hover {

    top: 19px;
}



/**** body****/



.home_container-card {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}


.card-home {
    object-fit: contain;
    border-radius: 15px;
    width: 250px;

    margin-top: 15%;
    background-color: rgb(209, 211, 211);
    border: rgb(194, 193, 193) 1px solid;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px 2px rgb(41, 41, 41);
}


.card-home:hover {
    background-color: rgb(17, 17, 17);
    color: aliceblue;
}


.card-home_header {
    padding: 20px;
    height: 220px;
    border-bottom: 1px solid rgb(153, 152, 152);
}


.card-home_img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.card-home__name {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.card-home__price-label {
    margin-left: 12%;
}

.card-home__price-value {
    position: relative;
    top: -41px;
    left: 30%;
    font-size: 13px;


}

.card-home__add {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin: 0 48%;
}

.card-home__btn {
    color: rgb(68, 143, 241);
    margin: 1% 78%;
    width: 30px;
}


.card-home__btn:hover {
    color: black;
}

/***ProducDetail**/


.product-desc {
    width: 75%;
    height: 70%;
    position: absolute;
    left: 13%;
    top: 20%;
    text-align: center;
    background-color: rgb(249, 246, 252);
    border: 1px rgb(221, 223, 221) solid;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 1px 1px 5px 2px;

}

.product-info_description {
    background-color: rgb(249, 246, 252);
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;



}


hr {
    color: rgb(244, 248, 248);
}

.product-info_btn- {
    color: rgb(255, 0, 55);
}

.product-info_btn2 {
    color: rgb(255, 0, 34);
}

/*** FormLogin**/


.login__form {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border: solid rgb(226, 225, 225) 1px;
    width: 250px;
    height: 250px;
    margin-left: 11%;
    margin-top: 20%;
    padding: 15px;
    box-shadow: 1px 1px 5px 2px rgb(41, 41, 41);
}


.login__title {
    font-size: 13px;
}


.login_button {
    background-color: rgb(68, 143, 241);
    width: 80px;
    height: 25px;
}


.login_button:hover {
    width: 85px;
    height: 30px;
}



ul {

    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    list-style: none;

}

.login__input {
    width: 60%;
    margin-left: 7px;
}

.login__inputEm {
    width: 60%;
    margin-left: 35px;
}


/***log succes*/

.login_succes {

    margin-top: 15%;
    margin-left: 13%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    height: 300px;
    border: 1px rgb(169, 179, 169) solid;
    border-radius: 25px;
    justify-content: center;
    align-items: center;

}

.login_succes_title {
    height: 50px;
    margin: auto;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login_succes_btnLg {

    font-size: 16px;

    color: rgb(68, 143, 241);
    box-shadow: 0 0 5px rgb(68, 143, 241);
    width: 100px;


}

.login_succes_btnGo {

    font-size: 16px;

    color: rgb(68, 143, 241);
    box-shadow: 0 0 5px rgb(68, 143, 241);
    width: 100px;
    top: 30px;
    left: auto;

}

/**cart**/

.cart {
    width: 100vw;




}

.cart__item {
    width: 200px;

    display: grid;
    margin-left: 13%;
    margin-top: 1%;
    grid-template-columns: 1fr 80px;
    row-gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px black;
}


.cart__item-header {
    display: grid;
    gap: 2px;
}


.cart__category {
    color: blue;
    font-size: 13px;
    font-weight: 300;

}

.cart__name {
    font-size: 15px;
    font-weight: 500;
    color: rgb(68, 143, 241);
}


.cart__btn {
    font-size: 16px;
    position: absolute;
    color: rgb(68, 143, 241);
    box-shadow: 0 0 5px rgb(68, 143, 241);
    width: 100px;
    top: 90px;
    left: 45%;
}

.cart__adv {
    margin-left: 5%;
    font-size: 14px;
    color: rgb(68, 143, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cart__total-number {
    color: brown;
}

/**Purchases**/

.card-purchase {

    width: 250px;
    margin-top: 45%;
    height: 380px;
    font-size: 14px;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-wrap: wrap;
}

.purchases {
    border: 3px green solid;
    width: 100%;
    justify-content: center;
    display: flex;



}

footer {


    width: 100%;
    height: 80px;
    background-color: black;
    text-align: center;

}

.footer_2 {
    position: relative;
    top: 45px;
    color: azure;
    width: fit-content;
    height: fit-content;



}
@media only screen and (min-width: 815px) {
    .header {

        background-color: rgb(196, 197, 197);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .header__logo {
        margin-top: 2px;
        font-size: 22px;

        text-decoration: none;
        color: rgb(16, 16, 17);
        margin-left: -70%;
        height: 50%;
    }


    .header__logo:hover {
        color: rgb(250, 247, 253);
    }


    .header__nav {
        height: 10%;
        padding: 15px;
        text-align: 5%;
        margin-left: 60%;
        margin-top: -90px;
        width: 40%;
        background-color: rgb(196, 197, 197);
        z-index: 5;
        transition: 0.80s;
        border-left: 1px gray solid;
    }

    .Checkboxi {
        display: none
    }


    .Checkboxi:checked~.header__nav {
        height: 10%;
        margin-left: 2.5%;
        margin-top: -2%;
        text-decoration: none;
        width: 300px;
        background-color: rgb(49, 109, 236);
        position: fixed;
        border-radius: 25px;
        text-align: end;


    }


    .menu_icon {

        display: none;

    }


    .menu_icon:hover {

        top: 19px;
    }

    a:hover {
        color: rgb(19, 20, 20);
        text-decoration: none;
        text-indent: 5px;
        margin: 10px;
    }

    /*** FormLogin**/


    .login__form {

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        border: solid rgb(226, 225, 225) 1px;
        width: 250px;
        height: 250px;
        margin-left: 40%;
        margin-top: 10%;
        padding: 15px;
        box-shadow: 1px 1px 5px 2px rgb(41, 41, 41);
    }

    .login__input {
        width: 60%;
        margin-left: 7px;
    }

    .login__inputEm {
        width: 60%;
        margin-left: 35px;
    }


    .login_succes {

        margin-top: 10%;
        margin-left: 40%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 250px;
        height: 300px;
        border: 1px rgb(169, 179, 169) solid;
        border-radius: 25px;
        justify-content: center;
        align-items: center;

    }

    .login_account-yet {

        font-size: 10px;
    }



    /***/
    .sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        background-color: var(--bg-white);
        opacity: 0.8;
        background-image: radial-gradient(rgb(99, 38, 255) 0.5px,
                rgb(249, 248, 248) 0.5px);
        background-size: 10px 10px;
    }

    .sign-up__card {
        display: flex;
        flex-direction: column;
        background: var(--bg-white);
        width: 25em;
        height: auto;
        border-radius: 0.3em;
        border: solid 1px grey;
        background-color: aliceblue;
        box-shadow: var(--shadow-elevation-login);
    }

    .sign-up__tittle {
        font-size: 1.5em;
        margin-left: 1em;
        color: var(--cl-text-grey);
    }

    .sign-up__form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 2em;
    }

    .sign-up__form-btn {
        border: none;
        margin: 1em 0;
        height: 2.2em;
        border-radius: 0.2em;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
        color: var(--cl-text-white);
        background: var(--cl-btn);
    }

    .sign-up__form-btn:hover {
        background: var(--cl-btn__hover);
    }

    .sign-up__login {
        font-size: 0.9em;
        color: var(--cl-text-grey);
        margin-left: 2em;
        margin-bottom: 1em;
    }

    .form__errors {
        font-size: 0.9em;
        font-weight: 500;
        color: rgb(138, 127, 239);
        margin: 0;
    }

    footer {

        width: 100%;
        height: 80px;
        background-color: black;
        text-align: center;

    }

    .footer_2 {
        position: relative;
        top: 45px;
        color: azure;
        width: fit-content;
        height: fit-content;



    }
}